<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pimenta.bestv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".BesTVApplication"
        android:allowBackup="true"
        android:banner="@drawable/app_banner"
        android:icon="@drawable/app_banner"
        android:label="@string/app_name"
        android:logo="@drawable/app_banner"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feature.main.presentation.ui.activity.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.splash.presentation.ui.activity.SplashActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".feature.search.presentation.ui.activity.SearchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".feature.castdetail.presentation.ui.activity.CastDetailsActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/host_castdetail"
                    android:scheme="@string/schema" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".feature.recommendation.presentation.broadcast.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".feature.recommendation.presentation.service.RecommendationService"
            android:enabled="true" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1c63ae626c525fff47fa264f25ad0ea34396dac2" />
    </application>
</manifest>